* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --accent-color: #e74c3c;
    --primary-color: #3498db;
    --text-color: #2c3e50;
    --seccess-color: #2ecc71;
    --warning-color: #f39c12;
    --danger-color: #e74c3c;
    --info-color: #3498db;
    --light-color: #ecf0f1;
    --dark-color: #34495e;

    --low-gray: #6c7a84;
    --high-gray: #e5e8eb;

    --border: #2c3e505f;
    --border-bg: #2c3e5027;
}

body {
    background-color: var(--high-gray);
    color: var(--text-color);
}

section {
    margin: 2rem 0;
}

/* Navbar style  */

header {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.721);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    backdrop-filter: blur(10px);

}

header .menu-toggle i {
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
}


.logo {
    display: flex;
    justify-content: start;
    width: 50px;
    height: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
}



nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    border: 1px solid var(--border);

}

nav .nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .menu-toggle {
    display: none;
}


nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav ul li a:hover {
    border-bottom: #3498db 2px solid;
}

/* Hero style */
.hero {
    margin-top: 6.7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8)), url(images/Hero\ Background.jpg);
    background-size: cover;
    height: 80vh;
    /* padding-top: 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hero-content {
    margin-left: 5rem;
    margin-right: 5rem;
    color: white;

}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.hero-content p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--text-color);
    transition: background-color 0.3s ease;
}

/* Features style */
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;

}

.feature {
    background-color: #f0f0f0;
    text-align: center;
    font-size: small;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 23%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2a2a2abc;
    display: flex;
    justify-content: start;
    gap: 1rem;

}


.feature i {
    font-size: medium;
    color: var(--text-color);
    border: 1px solid var(--border);
    background: var(--border-bg);
    padding: 10px;
    border-radius: 5px;
}

.feature .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-left: 1px solid var(--border);
    padding-left: .5rem;

}

.feature span {
    color: #2ecc71;
    font-weight: bold;

}

@media screen and (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
        padding: 0rem 1rem;
    }

    .feature {
        width: 100%;
        margin: 10px 0;
    }

    .products .product_cards {
        margin: 0 0rem;
        gap: 1rem;
        justify-content: center;
    }
    .products .product_cards .card{
        margin: 0rem  ;
            width: calc(35% - 1rem);
    }

    .latest_fasion_news .news{
        margin: 0;
    }
    
}


/* featers */

.featured_products {
    background: var(--secondary-color);
    padding: 2rem 0;
}

.grid-container {
    display: grid;
    gap: 20px;
    /* Mobile: hal column */
    grid-template-columns: 1fr;
    /* max-width: 1200px; */
    margin: auto;
    margin-left: 5rem;
    margin-right: 5rem;

}

.grid-container .card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.grid-container .card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
  
}
.grid-container .card img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

/* Tablet iyo wixii ka weyn */
@media (min-width: 600px) {
   

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .big {
        grid-column: span 1;
        height: 250px;
    }

    .small {
        grid-column: span 1;
        height: 180px;
    }
}

/* Desktop iyo screens waaweyn */
@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
    }

    .big {
        grid-column: span 2;
        height: 300px;
    }

    .small {
        grid-column: span 1;
        height: 200px;
    }
}



/* Responsive Design */
@media (max-width: 600px) {

    .hero {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        /* padding-top: 20%; */
        margin-left: 3%;
        text-align: left;
    }

    .hero-content p {
        font-size: 15px;
        margin-bottom: .5rem;
        text-align: left;
    }

    .hero-content h1 {
        font-size: 35px;
        line-height: 1;
        margin-bottom: .5rem;
    }

    .features {
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
    }

    .feature {
        display: flex;
        justify-content: start;
        gap: 1rem;
        width: 100%;
        margin: 10px 0;
    }

    .feature i {
        font-size: 20px;
        color: var(--text-color);
        border: 1px solid var(--border);
        background: var(--border-bg);
        padding: 10px;
        border-radius: 5px;
    }

    .feature .content {
        display: flex;
        flex-direction: column;
        align-items: start;
        border-left: 1px solid var(--border);
        padding-left: 1rem;

    }

    .feature .content h3 {
        font-size: 20px;
        color: var(--text-color);
    }

    .feature .content p {
        font-size: 15px;
        color: var(--low-gray);
    }


}





/* <!-- Products of the week --> */


.page_header {
    margin-bottom: 2rem;
    text-align: center;
}

.page_header h1 {
    font-size: 2rem;
}

.product_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}

.product_cards .card {
    cursor: pointer;
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: calc(30% - 2rem);
    border: 1px solid var(--border);
    transition: transform 0.3s;
}

.product_cards .card .description {
    color: var(--low-gray);
}

.product_cards .card .status {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding: 5px;
    font-size: .8rem;
    color: white;
    border-radius: 5px;
    background: var(--accent-color);
}

.product_cards .card .status.in-stock {
    background: var(--seccess-color);
}

.product_cards .card .status.out-stock {
    background: var(--danger-color);
}

.product_cards .card img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}

.product_cards .card img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product_cards .card .price {
    color: var(--info-color);
    font-weight: 600;
}


.product_cards .card .stars {
    display: flex;
}

.product_cards .card .stars_price {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_cards .card .stars .rating {
    color: var(--warning-color);
}
/* Developer section */
.developers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-left: 5rem;
    margin-right: 5rem;
}
.images{
    /* width: 300px; */

}
.images img{
    width: 100%;
    border-radius: 50%;
}
.developer{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.developer-header h3 {
    margin: 10px 0;
    font-size: 1.5rem;

}
.skills{
    color: var(--seccess-color)!important;
    font-weight: 600;
    text-align: center !important;
}
.work-section{
    color: var(--seccess-color);
    font-weight: 500;
}
.developer-header p {
    font-size: 1rem;
    color: var(--low-gray);
    margin-top: 5px;
    text-align: justify;
}
.social-links {
    margin-top: 10px;
    font-size: 24px;
}
.social-links a {
    color: var(--text-color);
    text-decoration: none;
}
.social-links a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
}








/* news leters */
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.news .news_card {
    cursor: pointer;
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: calc(30% - 2rem);
    /* border: 1px solid var(--border); */
    transition: transform 0.3s;
}

.news .news_card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.newsletter {
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
}

.subscribe-form {
    margin-top: 20px;
}

.subscribe-form input {
    padding: 10px;
    width: 250px;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe-form button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px 20px;
    /* background-color: #eaeaea; */
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.footer .footer-logo img {
    width: 50px;
    height: 50px;
    margin-bottom: .5rem;

}

/* .footer .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.footer .footer-logo .social-icons a i {
    /* margin-right: 10px; */
    font-size: 18px;
    color: #333;
    border: 1px solid var(--border);
    background: var(--border-bg);
    padding: 10px;
    border-radius: 5px;
}

.footer .footer-logo .social-icons a i:hover {
    background: transparent;
    transition: background-color 0.3s ease;

}

.footer .footer-logo .social-icons {
    margin-top: .5rem;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px 20px;

}

.footer-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* background: #2c3e50; */

}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.logo p {
    margin: 10px 0;
}

.social-icons a {
    margin-right: 10px;
    font-size: 18px;
    color: #333;
}

.bottom-note {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

.payment-icons i {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
}

/* Responsive tweaks */
@media (max-width: 600px) {
    .newsletter {
        text-align: left;
    }   
    .subscribe-form {
        display: flex;
        gap: 10px;
    }

    .subscribe-form input{
        border-radius: 5px;
    }
    .subscribe-form button {
        /* margin-bottom: 10px; */
        border-radius: 5px;
    }
}





/* tablet screens */
@media (max-width: 768px) {}

/* mobile screens */
@media (max-width: 475px) {
    section{
        margin: 2rem 0rem;
    }
    .page_header h1 {
        font-size: 1.5rem;  

    }
    header {
        padding-left: .5rem;
        padding-right: .5rem;
    }

 

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border-radius: 10px; */
    }

    nav ul {
        position: absolute;
        top: 6.5rem;
        left: 0;
        z-index: 1000;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        display: none;
        transition: all 0.5s ease;
        /* background: var(--secondary-color); */
        border-radius: 10px;

        background: rgba(255, 255, 255, 0.842);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background 0.3s ease;
        backdrop-filter: blur(10px);
    }

    nav ul li {
        display: block;
        width: 100%;
        margin: 10px 0;
        border: 1px solid var(--border);
        cursor: pointer;
        border-radius: 5px;
        background: var(--secondary-color);
        padding: 10px;
        text-align: left;
    }

    nav ul li a {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 500;
    }

    nav ul.active {
        display: block;
    }

    nav .menu-toggle {
        display: block;
    }

    .featured_products .grid-container{
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 0rem 1rem;
    }

    .featured_products {
        padding: 1rem 0rem;
    }


    .product_cards {
        padding: 0rem 1rem;
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
        margin-right: 0rem;
        margin: 0 0;
    }

    .products .product_cards .card {
        width: 100%;
        margin: 1rem 0rem;
    }

    .news {
        padding: 0rem 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .news .news_card {
        width: 100%;
        margin: 1rem 0rem;
    }
    .footer-section{
        text-align: center;
        margin: 0rem;
    }
    .footer .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
}